body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 3em;
	font-weight: 100;
}

.spinner {
	height: 100px;
	overflow: hidden;
	margin: 20px;
}

h1 {
	font-size: 1.5em;
	font-weight: 100;
	text-align: center;
}

ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	display: block;
	width: 600px;
	height: 60px;
	background: #222;
	color: yellow;
	padding: 20px;
	margin: 0 auto;
	text-align: center;
	border-radius: 10px;
}

#restaurant-list {
	position: relative;
	top: 0;
	-webkit-transition: -webkit-transform 2s ease-out;
	-moz-transition: -moz-transform 2s ease-out;
	-ms-transition: -ms-transform 2s ease-out;
	-o-transition: -o-transform 2s ease-out;
	transition: transform 2s ease-out;
}

button {
	display: block;
	width: 300px;
	padding: 10px;
	background: #eee;
	border: 0;
	margin: 0 auto;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 0.5em;
	font-weight: 100;
	border-radius: 5px;
}

.logo {
	position: relative;
	width: 554px;
	margin: 20px auto;
	clear: both;
}

#logotype {
	position: absolute;
	top: 208px;
	right: 34px;
	color: #993399;
	font-size: 1em;
	text-align: right;
}

#logotype span {
	color: #fff;
	display: inline-block;
	padding: 6px 5px;
}

.row {
	clear: both;
	display: table;
}

.box {
	width: 40px;
	height: 40px;
	margin: 3px;
	float: left;
}

.red {
	background: #cd3333;
}

.brown {
	background: #cd9933;
}

.yellow {
	background: #ffff33;
}

.green {
	background: #339a99;
}

.blue {
	background: #3266cc;
}

.purple {
	background: #993399;
}

.clear {
	clear: both;
}

#map {
	width: 500px;
	height: 500px;
	margin: 40px auto;
	font-size: 0.3em;
	font-weight: 400;
}

#map img {
	float: left;
	width: 30px;
	height: 30px;
	padding: 10px 10px 10px 0;
}

.title {
	text-transform: uppercase;
	font-weight: 800;
}