body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 3em;
}

body,
h1,
button {
	font-weight: 100;
}

.spinner {
	height: 100px;
	overflow: hidden;
	margin: 20px;
}

h1 {
	font-size: 1.5em;
	text-align: center;
}

a {
	color: #339a99;
	text-decoration: none;
}

a:hover {
	border-width: 0 0 1px 0;
	border-color: #339a99;
	border-style: solid;
}

footer {
	margin: 200px 0 0 0;
	padding: 0 10px;
	color: #999;
	text-align: right;
	font-size: 0.3em;
	font-weight: 200;
	border-width: 1px 0 0 0;
	border-color: #eee;
	border-style: solid;
}

ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	display: block;
	width: 600px;
	height: 60px;
	background: #222;
	color: yellow;
	padding: 20px;
	margin: 0 auto;
	text-align: center;
	border-radius: 10px;
}

#restaurant-list {
	position: relative;
	top: 0;
	-webkit-transition: -webkit-transform 2s ease-out;
	-moz-transition: -moz-transform 2s ease-out;
	-ms-transition: -ms-transform 2s ease-out;
	-o-transition: -o-transform 2s ease-out;
	transition: transform 2s ease-out;
}

button {
	display: block;
	width: 300px;
	padding: 10px;
	border: 1px solid #1B8281;
	margin: 0 auto;
	color: #fff;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 0.5em;
	cursor: hand;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	background: #339a99;
	background-image: -webkit-gradient(linear, left top, left bottom, from (#339a99), to (#1c8786));
	background-image: -webkit-linear-gradient(top, #339a99, #1c8786);
	background-image: -moz-linear-gradient(top, #339a99, #1c8786);
	background-image: -ms-linear-gradient(top, #339a99, #1c8786);
	background-image: -o-linear-gradient(top, #339a99, #1c8786);
	background-image: linear-gradient(top, #339a99, #1c8786);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#339a99', EndColorStr='#1c8786');
}

button:hover {
	background-image: -webkit-gradient(linear, left bottom, left top, from (#339a99), to (#1c8786));
	background-image: -webkit-linear-gradient(bottom, #339a99, #1c8786);
	background-image: -moz-linear-gradient(bottom, #339a99, #1c8786);
	background-image: -ms-linear-gradient(bottom, #339a99, #1c8786);
	background-image: -o-linear-gradient(bottom, #339a99, #1c8786);
	background-image: linear-gradient(bottom, #339a99, #1c8786);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#1c8786', EndColorStr='#339a99');
}

.logo {
	position: relative;
	width: 554px;
	margin: 20px auto;
	clear: both;
}

#logotype {
	position: absolute;
	top: 208px;
	right: 34px;
	color: #993399;
	font-size: 1em;
	text-align: right;
}

#logotype span {
	color: #fff;
	display: inline-block;
	padding: 6px 5px;
}

.row {
	clear: both;
	display: table;
}

.box {
	width: 40px;
	height: 40px;
	margin: 3px;
	float: left;
}

.red {
	background: #cd3333;
}

.brown {
	background: #cd9933;
}

.yellow {
	background: #ffff33;
}

.green {
	background: #339a99;
}

.blue {
	background: #3266cc;
}

.purple {
	background: #993399;
}

.clear {
	clear: both;
}

#map {
	width: 500px;
	height: 500px;
	margin: 40px auto;
	font-size: 0.3em;
	font-weight: 400;
}

#map img {
	float: left;
	width: 30px;
	height: 30px;
	padding: 10px 10px 10px 0;
}

.title {
	text-transform: uppercase;
	font-weight: 800;
}