
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	font-weight: 200;
}

h1,
h2,
button,
li,
#logotype {
	font-weight: 100;
}

.spinner {
	height: 100px;
	overflow: hidden;
	margin: 20px;
}

h1 {
	font-size: 3em;
	text-align: center;
}

.fancy-title {
	color: #fff;
	padding: 10px;
	font-family: 'Chelsea Market', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h2 {
	font-size: 1.5em;
	text-align: center;
}

a {
	color: #339a99;
	text-decoration: none;
}

a:hover {
	border-width: 0 0 1px 0;
	border-color: #339a99;
	border-style: solid;
}

footer {
	margin: 200px 0 0 0;
	padding: 0 10px;
	color: #999;
	text-align: right;
	font-size: 0.6em;
	border-width: 1px 0 0 0;
	border-color: #eee;
	border-style: solid;
}

ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	display: block;
	width: 600px;
	height: 60px;
	background: #222;
	color: yellow;
	padding: 20px;
	margin: 0 auto;
	text-align: center;
}

li,
.fancy-title {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#restaurant-list {
	position: relative;
	top: 0;
	-webkit-transition: -webkit-transform 2s ease-out;
	-moz-transition: -moz-transform 2s ease-out;
	-ms-transition: -ms-transform 2s ease-out;
	-o-transition: -o-transform 2s ease-out;
	transition: transform 2s ease-out;
}

#restaurant-list li {
	font-size: 2em;
}

button,
input {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}

button {
	display: block;
	width: 300px;
	padding: 10px;
	font-size: 1em;
	border: 1px solid #1B8281;
	margin: 10px auto;
	color: #fff;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	cursor: hand;
	cursor: pointer;
	background: #339a99;
	background-image: -webkit-gradient(linear, left top, left bottom, from (#339a99), to (#1c8786));
	background-image: -webkit-linear-gradient(top, #339a99, #1c8786);
	background-image: -moz-linear-gradient(top, #339a99, #1c8786);
	background-image: -ms-linear-gradient(top, #339a99, #1c8786);
	background-image: -o-linear-gradient(top, #339a99, #1c8786);
	background-image: linear-gradient(top, #339a99, #1c8786);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#339a99', EndColorStr='#1c8786');
}

button:hover {
	background-image: -webkit-gradient(linear, left bottom, left top, from (#339a99), to (#1c8786));
	background-image: -webkit-linear-gradient(bottom, #339a99, #1c8786);
	background-image: -moz-linear-gradient(bottom, #339a99, #1c8786);
	background-image: -ms-linear-gradient(bottom, #339a99, #1c8786);
	background-image: -o-linear-gradient(bottom, #339a99, #1c8786);
	background-image: linear-gradient(bottom, #339a99, #1c8786);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#1c8786', EndColorStr='#339a99');
}

.logo {
	position: relative;
	width: 554px;
	margin: 20px auto;
	clear: both;
}

#logotype {
	position: absolute;
	top: 208px;
	right: 34px;
	color: #993399;
	font-size: 2em;
	text-align: right;
}

#logotype span {
	color: #fff;
	display: inline-block;
	padding: 6px 5px;
}

.row {
	clear: both;
	display: table;
}

.box {
	width: 40px;
	height: 40px;
	margin: 3px;
	float: left;
}

.red {
	background: #cd3333;
}

.brown {
	background: #cd9933;
}

.yellow {
	background: #ffff33;
}

.green {
	background: #339a99;
}

.blue {
	background: #3266cc;
}

.purple {
	background: #993399;
}

.clear {
	clear: both;
}

#map {
	width: 500px;
	height: 500px;
	margin: 40px auto;
	font-size: 0.3em;
	font-weight: 400;
}

#map img {
	float: left;
	width: 30px;
	height: 30px;
	padding: 10px 10px 10px 0;
}

.title {
	text-transform: uppercase;
	font-weight: 800;
}

/* Bespoke Eat Mo */
label {
	margin: 30px 40px;
}

input {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	border: 1px solid #cd9933;
	padding: 5px;
	-webkit-box-shadow: 0 0 5px #e9e9e9;
	-moz-box-shadow: 0 0 5px #e9e9e9;
	box-shadow: 0 0 5px #e9e9e9;
}

.restaurant-name {
	width: 50%;
	margin: 30px;
}

.regular-input {
	display: block;
	margin: 0 auto 30px;
	width: 80%;
}

.question {
	text-align: center;
}

.wrapper {
	border-bottom: 1px solid #339a99;
}

.wrapper:hover,
.wrapper:nth-child(odd):hover {
	background: #F5EDFF;
}

.wrapper:nth-child(odd) {
	background: #fafafa;
}

.container {
	width: 940px;
	margin: 0 auto;
}

fieldset {
	border: 0;
}

.delete {
	cursor: pointer;
	cursor: hand;
}

.delete:before {
	content: 'x';
	color: #cd9933;
}

@media (max-width: 810px) {
	li {
		width: auto;
	}

	h1 {
		width: 1.5em;
	}
}